/*
   // LARGE DESKTOP
@media only screen and (max-width: 2560px){}
// DESKTOP
@media only screen and (max-width: 1440px){}
// SMALL DESKTOP
@media only screen and (max-width: 1024px){}
// TABLET
@media only screen and (max-width: 768px){}
// REGULAR MOBILE
@media only screen and (max-width: 425px){}
// SMALL MOBILE
@media only screen and (max-width: 320px){}
*/
/* _____________________________________________________________________________ */
@import "/button.css";
/* header */

  /* title */

    #title {
      display: flex;
      justify-content: center;
      background-image: url(./images/bkg.png);
      background-repeat: no-repeat;
      background-size: 500px;
    }

    #text-title {
    margin-left: 300px;
    }

    .test {
      display: flex;
    }

    h1 {
      font-size: 50px;
      font-family:  'Gochi Hand', cursive;
      text-align: center;
      padding-top: 100px;
    }

    h2 {
      font-size: 30px;
      font-family:  'Gochi Hand', cursive;
      text-align: start;
      line-height: 32px;

    }

  /* avatar */
    #arrow-header {
      margin-top: 60px;
      height: 70px;
    }

    #foto-avatar {
      height: 300px;
      margin-top: 20px;
    }


  /* navbar */

    .navbar-anchor > ul {
      padding-inline-start: 0px;
      text-align: right;
      margin-top: 75px;
      padding-bottom: 100px;

    }
    .navbar-anchor > ul > li {
      display: inline-block;
      font-family: 'Itim', cursive;
    }
    .navbar-anchor > ul > li > a {
      text-decoration: none;
      color:#FF2FBC;
      font-size: 25px;
    }
    .navbar-anchor > ul > li > a:hover {
      color:black;
    }

    /* A propos */
    #about {
      padding: 20px 250px 50px 250px;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0.5775560224089635) 0%, rgba(247,247,250,0.8492647058823529) 16%, rgba(248,248,246,1) 100%);    }

      h3 {
      font-size: 10px;
      font-family:  'Gochi Hand', cursive;
    }

    p {
      font-family: 'Itim', cursive;
      font-size: 20px;
    }

    /* Carousel */

    .title-project {
      display: flex;
      justify-content: end;
    }

    #arrow-project {
      transform: scaleX(-1);
      rotate: -40deg;
      height: 30px;
      margin-top: 30px;
    }


    #project {
      background-image: url("/images/14227.jpg");
      background-position: center;
      background-size: cover;
      height: 600px;

    }

    .project-component {
      width: 75%;
      margin: 80px auto ;
      display: flex;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      border-radius: 15px;
      overflow: hidden;
      background-color: white;
    }

    .project-description > p {
      font-size: 15px;
    }

    .project-image {


    }

    .project-description {
      margin: auto;
      background-color: white;
      padding: 20px;

    }

    h4 {
      font-size: 10px;
      font-family: 'Pacifico', cursive;
    }


/* Responsive___________________________________________________________________ */

  @media screen and (max-width: 1100px) {

    #title {
      flex-direction: column;
      align-items: center;
    }

    #arrow-header {
      rotate: 130deg;
      width: 168px;
      margin-left: 500px;
    }

    h1, h2 {
      text-align: center;
    }

    #foto-avatar {
      height: 300px;
      margin-top: -100px;
      margin-right: 70px;
    }

  }


  @media screen and (max-width: 660px) {

    #title {
      flex-direction: column;
      align-items: center;
    }

    #arrow-header {
      width: 100px;
      margin-left: 100px;
    }

    h1 {
      font-size: 40px;
      padding: 20px;
    }

    h2 {

      font-size: 20px;
    }

    #foto-avatar {
      height: 130px;
      border-radius: 50%;
      margin-top: -50px;
      margin-right: 150px;
    }
  }
